.button_menu{
    display:flex ;
    gap: 10px;
}

.logarbnt{
    padding: 10px 20px;
    border: 2px solid rgba(233, 233, 233, 0.575);
    border-radius: 5px;
    transition: all 0.3 ease;
}

.logarbnt:hover{
    background-color: rgba(255, 255, 255, 0.712);
    color: rgba(0, 0, 0, 0.801);
    cursor: pointer;
}

.showsenha{
    display: flex;
    align-items: center;
    border: 2px solid rgb(255, 253, 253);
    border-radius: 5px;
    background: #ffffffc5;
}

.showsenha:hover{
    cursor: pointer;
}

input{
    display: flex;
    border: 2px solid rgb(255, 253, 253);
    border-radius: 5px;
    color :white;
    background: #00000000;
    padding: 5px;
}

input::placeholder{
    color: #ffffffc5;
}

input:focus{
    outline: none;
}
